.single-product
    display grid
    grid-template-columns 60fr 40fr
    margin 3.2rem 0 6.4rem 0

.img-carousel
    display flex
    padding 0 8rem 0 3.2rem
    align-items center

.carousel-container
    overflow hidden
    width 60rem
    height 70rem

    & ul
        display flex
        list-style none

    & img
        width 60rem
        height 100%
