@import '../../colors'

.logo
    font-size 4.4rem
    cursor pointer

.nav-bar
    display flex
    gap 4.8rem

.main-nav
    display flex
    gap 4.8rem
    font-size 1.6rem
    align-items center
    color $nav
    
    & div
        cursor pointer

.user-nav
    display flex
    gap 2.4rem
    align-items center
    margin-left auto
    color $nav

    & div
        cursor pointer

.user-nav__avatar
    width 3rem
    height 3rem
    background-color #eee
    border-radius 50%
    display flex
    justify-content center
    align-items center

    & svg
        height 2rem
        width 2rem
        color #b3b3b3