@import "../../colors"

.order-item
    display flex
    width 100%
    min-height 5rem
    margin-top 1.2rem
    border-bottom 1px solid $ctaBorder
    padding-bottom 1.2rem

    div, button
        display flex
        justify-content center
        align-items center
        width 15rem
    
    & div:nth-child(2)
        flex-grow 2
    
    & button:hover, & button:active
        text-decoration-line underline

.order-item__content
    list-style none

.order-item__amount
    &::before
        content "NT. "
        font-size 0.4rem

@media (max-width 48em)
    .order-item
        min-height 2.5rem
        font-size 1rem

        div, button
            width 5rem

@media (max-width 27em)
    .order-item
        font-size 1.4rem
        flex-direction column
        gap 2rem
        border-bottom 1px solid black

        div
            width 100%
            justify-content normal
        
        & div:first-child::before
            content "No. "

        button
            background-color $primary

