@import "../../colors"

.user-container
    margin-top 4.8rem
    border 1px solid black

.user
    display grid
    grid-template-columns 20fr 80fr
    height 60vh

.catalog
    text-align center
    display flex
    flex-direction column
    gap 1.2rem
    border-right 1px solid $ctaBorder
    
    button
        font-size 1.6rem

        &:hover, &:active
            text-decoration-line underline

.catalog__user
    margin-top 2.4rem

.catalog__logout
    margin auto 0 2.4rem 0

.active
    button
        text-decoration-line underline

@media (max-width 48em)
    .user
        height 50vh
        
    .catalog
        button
            font-size 1.2rem

@media (max-width 27em)
    .user
        grid-template-columns 1fr
        height auto
    .catalog
        border-bottom 1px solid black

        button
            font-size 1.4rem