.user-info
    width 40rem
    margin 4.8rem auto

    button
        position relative
        margin-top 2.4rem
        left 50%
        transform translateX(-50%)

@media (max-width 48em)
    .user-info
        width 30rem
        
        input
            font-size 1.2rem

        label
            font-size 1.2rem

@media (max-width 27em)
    .user-info
        label
            font-size 1.4rem