.order-complete-container
    width 40rem
    height 50vh
    margin 12.8rem auto
    text-align center

    p 
        font-size 2.4rem
        margin-bottom 1.6rem
    span
        font-size 1.4rem
        margin-right 1.2rem
    