@import "../../colors"

.order
    width 120rem
    margin 3.2rem auto 12.8rem auto

    h2 
        font-size 3rem
        text-align center

.steps
    display flex
    justify-content space-evenly
    font-size 1.4rem
    margin-top 6.4rem
    margin-bottom 8rem

.step-line
    border-top 1px solid $ctaBorder
    width 25rem
    margin-top 1.2rem

.address, .delivery, .payment
    color $ctaBorder

.focused
    color black

.order-info
    display grid
    grid-template-columns 60fr 40fr
    border 1px solid black 

.buyer-info-container
    margin 2.4rem 8rem

.infos
    padding 0 2.4rem
    margin-bottom 12.8rem

.overview-container
    border-left 1px solid $ctaBorder
    margin 2.4rem 0