@import '../../colors'

.overview
    h3 
        font-size 2rem
        text-align center
        margin-bottom 3.2rem

.products-container
    margin-bottom 25.6rem
    max-height 46rem
    overflow auto

