.payment
    h3
        font-size 2rem
        text-align center
        margin-bottom 3.2rem

.payment-infos
    display flex
    flex-direction column
    gap 2.4rem

.expiration-and-CVC
    display flex
    gap 4.4rem