@import '../../colors'

.steps
    display flex
    justify-content space-evenly
    font-size 1.4rem
    margin-top 6.4rem
    margin-bottom 8rem

.step-line
    border-top 1px solid $ctaBorder
    width 25rem
    margin-top 1.2rem

    &.passed
        border-top 1px solid black

.address, .delivery, .payment
    color $ctaBorder

.focused
    color black

@media (max-width 48em)
    .steps
        font-size 1.2rem
    .step-line
        width 20rem

@media (max-width 27em)
    .steps
        margin-bottom 4.8rem
    .step-line
        margin-left 1.2rem
        margin-right 1.2rem