@import "../../colors"

.cta
    display flex
    justify-content center

.cta-container
    width 80rem
    height 60rem

.cta-title
    font-size 3.6rem
    text-align center

.cta-client
    display flex

.cta-img
    width 55%
    height 45rem
    background-color #676767
    background-image url("../../../public/images/cta.jpeg")
    background-size cover
    background-position center
    overflow hidden
    
.cta-input
    width 45%
    border 1px solid $ctaBorder
    display flex
    flex-direction column
    justify-content space-between

    & form
        margin 3.2rem
        position relative
    
    & button
        font-size 1.8rem
        position absolute
        left 50%
        transform translateX(-50%)
        padding 0.4rem 0.8rem
        background-color $primary
        transition background-color 0.3s
        
        &:not([disabled]):hover, &:not([disabled]):active
            background-color #e6d1b8

.error-message
    text-align center
    color red

.cta__switch-to-login
    align-self center
    font-size 1.6rem
    margin-bottom 3.2rem

    & a:hover, & a:active
        color #676767
