.product {
  display: flex;
  font-size: 1.6rem;
  margin: 2.4rem 0.8rem 0 0.8rem;
  color: #343a40;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}
.product div {
  flex: 1 0;
}
.product div:not(:first-child) {
  text-align: end;
}
.product div:last-child::before {
  content: "NT. ";
}
.product button {
  position: absolute;
  left: calc(271px * 3 + 10px);
}
@media (max-width: 66em) {
  .product button {
    left: calc(271px * 2 + 125px);
  }
}
