.logo {
  cursor: pointer;
}
.logo a {
  font-size: 4.4rem;
}
.nav-bar {
  display: flex;
  gap: 4.8rem;
  position: relative;
}
.main-nav {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  color: #343a40;
}
.main-nav div {
  cursor: pointer;
}
.main-nav a {
  font-size: 1.6rem;
}
.active {
  text-decoration-line: underline;
}
.user-nav {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  margin-left: auto;
  color: #343a40;
}
.user-nav div {
  cursor: pointer;
}
.user-nav__cart {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.user-nav__cart svg {
  width: 2.4rem;
  height: 2.4rem;
  color: #676767;
}
.product-amount-in-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 100%;
  width: 2rem;
  height: 2rem;
  font-size: 1.6rem;
  border-radius: 50%;
  background-color: #ffe8cc;
  transform: translate(-75%, -75%);
}
.product-amount-in-cart p {
  position: relative;
  top: -2px;
}
.user-nav__avatar {
  width: 3rem;
  height: 3rem;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav__avatar svg {
  height: 2rem;
  width: 2rem;
  color: #b3b3b3;
}
.menu-button {
  display: none;
}
@media (max-width: 48em) {
  .logo a {
    font-size: 3.6rem;
  }
  .main-nav a {
    font-size: 1.4rem;
  }
  .user-nav__cart {
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-nav__cart svg {
    width: 2rem;
    height: 2rem;
  }
  .user-nav__avatar {
    width: 2.4rem;
    height: 2.4rem;
  }
  .user-nav__avatar svg {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 27em) {
  .menu-button {
    display: block;
  }
  .main-nav {
    display: none;
    pointer-events: none;
  }
  .user-nav__avatar {
    display: none;
    pointer-events: none;
  }
  .user-nav {
    gap: 1.2rem;
  }
}
