.order-complete-container {
  width: 40rem;
  height: 50vh;
  margin: 12.8rem auto;
  text-align: center;
}
.order-complete-container p {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}
.order-complete-container span {
  font-size: 1.4rem;
  margin-right: 1.2rem;
}
