.orderlist {
  margin: 0.4rem 3.2rem;
}
.title {
  display: flex;
  font-size: 1.4rem;
  height: 6rem;
  border-bottom: 1px solid #000;
}
.title div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
}
.title div:nth-child(2) {
  flex-grow: 2;
}
.order-container {
  height: 35rem;
  overflow: scroll;
}
.order {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
@media (max-width: 48em) {
  .title {
    font-size: 1.2rem;
  }
  .title div {
    width: 5rem;
  }
  .order-container {
    height: 26rem;
  }
}
@media (max-width: 27em) {
  .orderlist {
    margin: 3.2rem;
  }
  .title {
    display: none;
  }
}
