.order-item {
  display: flex;
  width: 100%;
  min-height: 5rem;
  margin-top: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 1.2rem;
}
.order-item div,
.order-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
}
.order-item div:nth-child(2) {
  flex-grow: 2;
}
.order-item button:hover,
.order-item button:active {
  text-decoration-line: underline;
}
.order-item__content {
  list-style: none;
}
.order-item__amount::before {
  content: "NT. ";
  font-size: 0.4rem;
}
@media (max-width: 48em) {
  .order-item {
    min-height: 2.5rem;
    font-size: 1rem;
  }
  .order-item div,
  .order-item button {
    width: 5rem;
  }
}
