.carousel {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2.5rem;
  transition: all 0.3s;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}
