.product {
  height: 46rem;
  width: 100%;
}
.product.featured-carousel a {
  width: 35rem;
}
.product-container {
  position: relative;
}
.product-img {
  width: 100%;
  height: 40rem;
  background: #808080;
}
.product-img:hover::before,
.product-img:active::before {
  content: "";
  background-color: rgba(225,225,225,0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-info {
  margin-top: 0.8rem;
  height: 5rem;
  text-align: center;
}
.product-info__price {
  letter-spacing: 0.8px;
}
.product-info__price ::before {
  content: "NT. ";
}
@media (max-width: 77em) {
  .product.featured-carousel a {
    width: 30rem;
  }
}
@media (max-width: 48em) {
  .product {
    height: 40rem;
  }
  .product-img {
    height: 34rem;
  }
}
@media (max-width: 27em) {
  .product-info {
    font-size: 1.4rem;
  }
}
