.featured-carousel {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2.5rem;
  transition: all 0.3s;
}
.featured-carousel li {
  flex: 0 0 35rem;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.6rem;
  row-gap: 2.4rem;
  list-style: none;
}
@media (max-width: 77em) {
  .featured-carousel li {
    flex: 0 0 30rem;
  }
}
@media (max-width: 48em) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
