.single-product {
  display: grid;
  grid-template-columns: 60fr 40fr;
  margin: 3.2rem 0 8rem 0;
}
.img-carousel {
  display: flex;
  padding: 0 8rem 0 3.2rem;
  align-items: center;
}
.carousel-container {
  overflow: hidden;
  width: 60rem;
  height: 70rem;
}
.carousel-container ul {
  display: flex;
  list-style: none;
}
.carousel-container img {
  width: 60rem;
  height: 100%;
}
.product-info {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 3.2rem;
}
.info {
  margin-bottom: 6.4rem;
}
.product-info__tag {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
.product-info__tag span {
  background-color: #ffe8cc;
}
.product-info__name {
  font-size: 4.4rem;
}
.product-info__price {
  font-size: 3rem;
  letter-spacing: 1.1px;
  margin-bottom: 4.8rem;
}
.product-info__price::before {
  content: "NT. ";
  font-size: 1.6rem;
}
.product-info__detail {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
}
.product-info__size {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}
.product-info__size div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
}
.triggered {
  background-color: #000;
  color: #fff;
}
.product-info__amount {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-bottom: 1px solid #000;
  padding: 0 0.8rem;
  margin-bottom: 2.4rem;
}
.product-info__amount input {
  font-size: 1.6rem;
  text-align: center;
  padding: 0.8rem;
  border: none;
}
.product-info__amount input:focus {
  outline: none;
}
.product-info__amount span {
  font-size: 2.4rem;
}
.btn-container {
  display: flex;
  align-items: center;
  width: 84%;
  gap: 1.6rem;
}
.btn-container span {
  font-size: 2rem;
}
.cart-btn {
  border: 1px solid #b4b4b4;
  color: #b4b4b4;
  padding: 1.2rem 1.6rem;
  width: 50%;
}
.cart-btn:hover,
.cart-btn:active {
  background-color: #ffe8cc;
  color: #1a1a1a;
  border: 1px solid #ffe8cc;
}
.purchase-btn:link,
.purchase-btn:visited {
  display: inline-block;
  text-align: center;
  padding: 1.2rem 1.6rem;
  width: 50%;
  background-color: #000;
  border: 1px solid #000;
  color: #e6e6e6;
}
.purchase-btn:hover,
.purchase-btn:active {
  background-color: #191919;
  color: #ccc;
}
@media (max-width: 77em) {
  .product-info__name {
    font-size: 3.6rem;
  }
  .product-info__detail {
    font-size: 1.2rem;
  }
  .product-info__amount {
    width: 110%;
  }
  .btn-container {
    width: 120%;
  }
  .cart-btn span,
  .purchase-btn span {
    font-size: 1.6rem;
  }
}
