.user-container {
  margin-top: 4.8rem;
  border: 1px solid #000;
}
.user {
  display: grid;
  grid-template-columns: 20fr 80fr;
  height: 60vh;
}
.catalog {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-right: 1px solid #e1e1e1;
}
.catalog button {
  font-size: 1.6rem;
}
.catalog button:hover,
.catalog button:active {
  text-decoration-line: underline;
}
.catalog__user {
  margin-top: 2.4rem;
}
.catalog__logout {
  margin: auto 0 2.4rem 0;
}
.active button {
  text-decoration-line: underline;
}
