/*
  font scale:
    10/ 12/ 14/ 16/ 18/ 20/ 24/ 30/ 36/ 44/ 52/ 62/ 74/ 86/ 98 px

  space scale:
    2/ 4/ 8/ 12/ 16/ 24/ 32/ 48/ 64/ 80/ 96/ 128 px

  font-weight:
    default 400
    semi-bold 500
    bold 600
  
  color:
    main #ffe8cc
    shade #e6d1b8
    greycolor:
      nav: #343a40
      ctaBorder: #e1e1e1

*/

$primary = #ffe8cc
$shade = #e6d1b8
$nav = #343a40
$ctaBorder = #e1e1e1