@import "../../colors"

.cart-container
    width 110rem
    margin 3.2rem auto 8rem auto
    border 1px solid $nav
    padding 2.4rem 1.2rem 2.4rem 1.2rem

.type-bar
    display flex
    font-size 1.8rem
    margin 0 0.8rem
    padding-bottom 1.2rem

    div
        flex 1 0

    & div:not(:first-child)
        text-align end

.division
    border-bottom 1px solid $nav

.amount-container
    display flex
    justify-content flex-end
    font-size 1.8rem
    padding 0 0.8rem
    margin 8rem 0 0 0
    
.amount
    display grid
    grid-template-columns 30fr 70fr
    row-gap 0.8rem
    align-items center
    justify-items end
    width 25rem

    & a:link, & a:visited
        grid-column -3 / -1
        background-color $nav
        color $ctaBorder
        text-align center
        width 100%
        height 4rem
    & a:hover, & a:active
        background-color #191919
        color $ctaBorder

.total-amount
    font-size 3rem

    &::before
        content "NT. "
        font-size 1.8rem

@media (max-width 66em)
    .cart-container
        width 90rem

@media (max-width 48em)
    .cart-container
        width 60rem
    .type-bar
        font-size 1.4rem