@import "../../colors"

.product
    display flex
    font-size 1.6rem
    margin 2.4rem 0.8rem 0 0.8rem
    color $nav
    padding-bottom 1.2rem
    border-bottom 1px solid $ctaBorder
    position relative

    div
        flex 1 0

    & div:not(:first-child)
        text-align end
    & div:last-child::before
        content "NT. "
    
    button
        position absolute
        left calc(271px * 3 + 10px)

@media (max-width 66em)
    .product
        button
            left calc(271px * 2 + 125px)

@media (max-width 48em)
    .product
        font-size 1.2rem

        button
            left calc(271px + 175px)
            span
                font-size 1.2rem
    .product-amount
        select
            font-size 1.2rem

@media (max-width 27em)
    .product
        font-size 1.4rem
        margin 2.4rem 0 0 0

        & div:not(:first-child)
            text-align center
        & div:last-child
            text-align end

        button
            left calc(240px)